__pycache__
/chirp
/venv
/build
/dist
/audio_output
/msix/**/x64/
/msix/**/bin/
/msix/**/obj/
/msix/**/BundleArtifacts/
/msix/**/AppPackages/
/msix/**/*.user
/msix/**/.vs/
**/node_modules/
/*.dll
/*.wav